<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!--Set render engine for 360 browser-->
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="description" content="福利小说网" />
  <meta name="keywords" content="福利小说网"/>
  <meta name="renderer" content="webkit" />

  <title>{% block title %}Title{% endblock %}--福利小说网</title>
  <link rel="shortcut icon" href="{{ static_url('images/crab.png') }}" type="image/x-icon" />

  <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/base.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/header.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/footer.css') }}">
  {% block css %}{% endblock %}
  {% block music %}
    {#    <bgsound src="{{ static_url('music/jy.mp3') }}" loop="-1"></bgsound>#}
    {#    <embed src="https://res.xdcdn.net/sglms/cv/jy.mp3" autostart="true" loop="true" hidden="true"></embed>#}
  {% endblock %}
  {#  <embed src="{{ static_url('music/jy.mp3') }}" autostart="true" loop="true" hidden="true">#}
</head>
<body>
<div id="root">
  {% block root %}
    <header>
      {% block header %}
        {% include 'modules/header.html' %}
      {% endblock %}
    </header>

    <section class="main">
      {% block main %}{% for x in range(100) %}<p>{{ x }}</p>{% endfor %}{% endblock %}
    </section>

    <footer>
      {% block footer %}
        {% include 'modules/footer.html' %}
      {% endblock %}
    </footer>
  {% endblock %}
  <audio preload="auto" autoplay="autoplay" src="https://res.xdcdn.net/sglms/cv/jy.mp3">你的浏览器不支持audio标签</audio>
</div>
</body>
<script src="{{ static_url('js/jquery-3.3.1.js') }}"></script>
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
{% block js %}{% endblock %}
</html>
