[redis]
redis_host=127.0.0.1

[redis_cache]
redis_host=127.0.0.1
redis_db=

[redis_recommend]
redis_host=127.0.0.1

[redis_single]
redis_host=127.0.0.1

[redis_pika]
redis_host=127.0.0.1

[redis_stats]
redis_host=127.0.0.1

[redis_geo]
redis_host=127.0.0.1

[redis_log]
redis_host=127.0.0.1