{% extends 'base.html' %}

{% block title %}list{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ static_url('css/user.css') }}">
  <style>
    .video-list {

    }
  </style>
{% endblock %}

{% block main %}
  <div class="video-list">
    <ul class="video-hot">
      <li id="1">
        <div class="video">
          <a href="#" title="###" class="thumbnail" target="_blank">
            <div class="video-thumb">
              <img src="http://www.9iyule.top/static/sanzang.jpg" alt="纯天然36F巨乳丝袜性感美女"
                   id="preview-51660-6-20-recent">
            </div>
            <span class="video-rating text-success"><i class="fa fa-lg fa-thumbs-up"></i> 80%</span>
            <span class="video-title">纯天然36F巨乳丝袜性感美女裸体跳艳舞勾引情人后被狠狠连操了2次</span>
            <span class="video-overlay badge transparent">HD 16:57</span>
            <div class="video-details hidden-xs hidden-sm">
              <span class="pull-left">today</span>
              <span class="pull-right text-right">3811 次播放</span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}