<nav>
  <div class="header-logo">
    <a href="/">
      <img src="{{ static_url('images/crab.png') }}">
      <span>福利小说网</span>
    </a>
  </div>
  <ul class="header-nav">
    <li class="header-nav-item"><a href="/">导航</a></li>
    <li class="header-nav-item"><a href="/">小说</a></li>
    <li class="header-nav-item"><a href="#">软件</a></li>
    <li class="header-nav-item"><a href="#">空间</a></li>
  </ul>
  <div class="header-search" align="center">
    <input type="search">&emsp;<span class="base-text-color">搜索</span>
  </div>
</nav>